.container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  padding: 20px;
  overflow: auto;
}

.container > *:first-child {
  margin-top: auto;
}
.container > *:last-child {
  margin-bottom: auto;
}

.box {
  border: solid 2px var(--colorNeutralForegroundDisabled);
  padding: 25px 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 500px;
  max-width: 100%;
  height: auto;
  gap: 15px;
}

.icon {
  width: 38px;
  height: 38px;
  color: var(--colorNeutralForegroundDisabled);
  flex-shrink: 0;
  flex-grow: 0;
}

.text {
  text-align: center;
}
