.message {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.msgType_user {
  justify-content: flex-end;
  margin-left: 40px;
  margin-right: 20px;
}

.msgType_bot {
  justify-content: flex-start;
  margin-left: 20px;
  margin-right: 40px;
}

.msgType_user .box {
  background-color: var(--colorBrandForegroundLink);
  color: var(--colorBrandBackgroundInverted);
}

.msgType_bot .box {
  background-color: var(--colorNeutralBackground4);
  color: var(--colorNeutralForeground1);
}

.msgType_error {
  justify-content: center;
}

.msgType_error .box {
  background-color: var(--colorPaletteRedBackground1);
  border: 2px solid var(--colorPaletteRedBorder2);
  color: var(--colorPaletteRedForeground1);
  max-width: 1000px;
}

.box {
  border-radius: 8px;
  padding: 8px 15px;
  flex-shrink: 1;
  line-height: 1;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.msgType_user .box, .msgType_bot .box {
  max-width: 900px;
  max-width: min(900px, calc(100% - 40px));
}

.excludedMsg .box {
  opacity: 0.5;
}

.phantomButtons {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  padding: 0 5px;
}
.editingMsg .box {
  border: 3px solid var(--colorBrandBackground2);
  opacity: 1;
}
