.container {
  flex-shrink: 0;
  flex-grow: 0;
  background-color: #f5f5f5;
  margin: 0 -30px;
  padding: 10px 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: 16px;
}

.headingRow {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.treeSkeleton {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: stretch;
}

.treeSkeletonItem {
  max-width: 100%;
}

.divider {
  margin: 10px 0 10px 0;
  border: solid 1px var(--colorNeutralStroke1);
}

.subheading {
  margin-bottom: 10px;
}

.matchTreeNode {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-rows: max-content min-content max-content;
  grid-template-areas: "s q" "b r" "_ c";
  column-gap: 10px;
  row-gap: 2px;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
}

.nodeScore {
  grid-area: s;
  text-align: center;
}

.nodeQText {
  grid-area: q;
}

.nodeBtns {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.nodeResponse {
  grid-area: r;
}

.nodeChildren {
  grid-area: c;
}

.scoreInherited > .nodeScore,
.scoreInherited > .nodeQText,
.scoreInherited > .nodeResponse {
  color: var(--colorNeutralForeground4);
}

.hasChildren {
  margin-top: 5px;
  margin-bottom: 5px;
  border-left: var(--colorNeutralStroke1) solid 1px;
}

.hasChildren:last-child {
  margin-bottom: 0;
}
