.container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 18px 30px 15px 30px;
  gap: 2px;
  transition: box-shadow 50ms linear;
}

.suggestionRow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  justify-content: start;
  margin-bottom: 10px;
  min-height: 30px;
}

.textRow {
  flex-grow: 1;
}

.sendRow {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.textarea {
  width: 100%;
}

.shadow {
  box-shadow: 0 -4px 4px rgba(0, 0, 0, 0.2);
}
